<%- include ("partials/header.ejs") %>

    <body>
        <%- include ("partials/navbar.ejs") %>
            <div class="container">
                <hr>
                <h2>Perguntas</h2>
                <hr>
                <a href="/perguntar" class="btn btn-success">Perguntar</a>
                <br>
                <% perguntas.forEach(pergunta =>{ %>
                    <br>

                    <div class="card">
                        <div class="card-body">
                            <h4>
                                <%= pergunta.titulo %>


                            </h4>
                        </div>
                        <div class="card-footer">
                            <!-- Configurando para ir direto para pagina da pergunta-->
                            <a href="/pergunta/<%= pergunta.id %> "><button class="btn btn-success">Responder</button></a>

                        </div>
                    </div>

                    <%}) %>

            </div>

    </body>

    <%- include ("partials/footer.ejs") %>